<!--Abdullah Mutaz Alshawa-->
<!--6/9/2021-->
<!--About-->
<a href='javascript:history.go(-1)'>Go Back to Previous Page</a>

@{
    ViewBag.Title = "About";
}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149402878-1">
    </script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149402878-1');
    </script>
</head>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<img src="~/Images/somaliBravanessCommunityCenter.jpg" />
<p>Grand opening!</p>
