<!--
    Abdullah Mutaz Alshawa
    //6/9/2021
    //Careers
-->
<!DOCTYPE html>
<a href='javascript:history.go(-1)'>Go Back to Previous Page</a>

@{
    ViewBag.Title = "Careers";
}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149402878-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'GA_MEASUREMENT_ID', { 'send_page_view': false });
        gtag('config', 'UA-149402878-1');
    </script>
</head>
<style>
    body {
        background-color: #cccccc;
    }
</style>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    OSBC Jobs<br />
    <br />
    Hiring for Cybersecurity Engineer!<br />
    <abbr title="Phone">Call</abbr>
    (503) 954-2906
</address>

<address>
    <strong>Please email your resume to:</strong>   <a href="mailto:osbcpdx@gmail.com">osbcpdx@gmail.com</a><br />
</address>

<address>
    <strong>Address:</strong>  <br />
    Colonial Office Campus
    Leasing, 10175 SW Barbur Blvd #214b, Portland, OR 97219, USA
</address>