<!DOCTYPE html>
@{
    ViewBag.Title = "Career";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    OSBC Jobs<br />
    Hiring for Cybersecurity Engineer!<br />
    <abbr title="Phone">Call</abbr>
    (503) 954-2906
</address>

<address>
    <strong>Please email your resume to:</strong>   <a href="mailto:osbcpdx@gmail.com">osbcpdx@gmail.com</a><br />
</address>

<address>
    <strong>Address:</strong>  <br />
    Colonial Office Campus
    Leasing, 10175 SW Barbur Blvd #214b, Portland, OR 97219, USA
</address>