@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Help & Support<br />
    Have questions or need to report an issue with Oregon Somali Bravanese Community(OSBC)? We have got you covered!<br />
    <abbr title="Phone">Call</abbr>
    (503) 954-2906
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">osbcpdx@example.com</a><br />
</address>

<address>
    <strong>Address:</strong>  <br />
    Colonial Office Campus
    Leasing, 10175 SW Barbur Blvd #214b, Portland, OR 97219, USA
</address>